
.title_page {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    width: 100%;
    text-align: start;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  
    img {
      position: absolute;
      z-index: -1;
      left: 30%;
      margin-right: 0.5rem;
    }
  }
  
  .form-contain {
    width: 100%;
    padding: 20px;
  }
  
  .input-contain {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
    .forgot-pass {
      text-decoration: none;
      color: gray;
      position: absolute;
      top: 0;
      right: 50px;
    }
    .forgot-pass:hover {
      color: rgb(38, 38, 38);
      font-size:17px;
      transition: ease-in 0.1s;
    }
  }
  
  .input-full-width {
    width: 100%;
    /* Assurez-vous que l'élément occupe toute la largeur disponible */
  }
  
  .submit-btn {
    margin-top: 1rem;
    width: 100%;
  }
  
  .link-contain {
    margin-top: 1rem;
    text-align: center;
  
    .link-redirect {
      margin-top: 0.5rem;
      display: block;
      color: #007bff;
      text-decoration: none;
    }
    .link-redirect:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }